body {
  margin: auto;
  text-align: center;
}

h1 {

  font-style: italic;
  color: #66BFBF;
  font-size: 90px
}

h2 {
  font-style: oblique;
  color: #66BFBF;
  font-size: 50px
}

p {
  font-style: normal;
  color: #66BFBF;
  font-size: 25px
}

h3 {
  font-style: italic;
  color: #66BFBF;
  font-size: 40px
}

.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  	box-shadow:inset 0px 1px 0px 0px #caefab;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  	background-color:#77d42a;
  	-webkit-border-top-left-radius:6px;
  	-moz-border-radius-topleft:6px;
  	border-top-left-radius:6px;
  	-webkit-border-top-right-radius:6px;
  	-moz-border-radius-topright:6px;
  	border-top-right-radius:6px;
  	-webkit-border-bottom-right-radius:6px;
  	-moz-border-radius-bottomright:6px;
  	border-bottom-right-radius:6px;
  	-webkit-border-bottom-left-radius:6px;
  	-moz-border-radius-bottomleft:6px;
  	border-bottom-left-radius:6px;
  	text-indent:0px;
  	border:1px solid #268a16;
  	display:inline-block;
  	color:#306108;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	font-style:normal;
  	padding-top:15px;
  	padding-bottom:15px;
  	padding-left:15px;
  	padding-right:15px;
  	text-decoration:none;
  	text-align:center;
  	text-shadow:1px 1px 0px #aade7c;
}

.top-container {
  background-color: #E4F9F5;
}

.mountain {
  width: 50;
  height: 50;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 250px;
  margin-top: 40px;
}

.skill-first {
  width: 200px;
  height: 200px;
  float: left;

}

.skill-row {
width: 50%;
margin: 100px auto 100px auto;
  text-align: left;
}

.skill-second {
  width: 200px;
  height: 200px;
  float: right;
  margin-right: 20px;
  margin-top: 20px

}

.skill-rows {
width: 50%;
margin: 100px auto 100px auto;
  text-align: left;
}
